/*This portion of the styling page should contain most the styles that will affect the entire page or elements found though
out the whole page*/
    body
    {
        display:flex;
        flex-direction: column;
    }   

    .button
        {
            margin: 15px;
            padding: 10px 20px;
            color: white;
            background-color: purple;
            border-radius: 5px;
        }
/*spacing*/

/*This portion of the style sheet will be dedicated to the header, the title, and the buttons it contains*/
    header
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 150px;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
    }

    header h 
    {
        font-size: 3rem;
    }

    .header_buttons
    {
        padding: 15px;
        width: 90%;
        display: flex;
        justify-content:space-between ;
    }
/*spacing*/

/*This portion will be dedicated to styling the template that will hold the alternating questions, the start button, and the ending prompt*/
    main 
    {
        margin-top: -30px;
        width: 40%;
        height:300px ;
        display: flex;
        flex-direction: column;
        border: 5px solid gray;
        align-items:  center;
        align-self: center;
        justify-content: center;
    }
    
 

    .start_btn
    {
        position: absolute;
        z-index: 10;
    }
    
    .question_container
    {
        position: absolute;
        visibility: collapse;
    }

    .game_over_screen
    {
        visibility: collapse;
        font-size: 1rem;
        font-weight: bolder;
    }

    .feedback
    {
        visibility: hidden;
    }
/*spacing*/

/*This portion will contain the footer which in this case will be a modal that displays the high scores of privious attemps*/
    footer
    {
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: -10;
        visibility: collapse;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        overflow: auto;
        align-items: center;
        background-color: grey;
    }

    .footer_buttons
    {
        display: flex;
    }
/*spacing*/

























